@font-face {
  font-family: "Goyang";
  src: url("/src/assets/fonts/Goyang.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/****************************** common ******************************/

:root {
  --background: #222;
  --textColor: white;
}

body[data-theme='light'] {
  background-color: white;
  color: #222;
}

body[data-theme='dark'] {
  background-color: #222;
  color: white;
}

html {
  box-sizing: border-box;
}

body * {
  font-family: Goyang;
}

body {
  background-color: var(--background);
  color: var(--textColor);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/****************************** style ******************************/

#App {
  width: 100%;
  height: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 1.5em auto;
  /* column-gap: 1.5em; */
  overflow: hidden;
}

.search-result-container .content {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 0;
}

.search-result-container .content img {
  width: 100%;
  height: 100%;
  min-height: 300px;
  object-fit: cover;
}

.search-result-container .content .item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  cursor: pointer;
}

.search-input-container {
  text-align: center;
}



.search-input {
  width: 85%;
  font-size: 40px;
  padding: 10px 15px;
}

.limit-count {
  width: 10%;
  height: 75px;
  vertical-align: top;
  font-size: 20px;
  margin-left: 10px;
  
}

.image-info-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-info-container .title {
  display: flex;
  justify-content: space-between;
}

.image-info-container .title,
.image-info-container .description {
  padding: 5px;
  color: #222;
}

.image-info-container .title .close {
  cursor: pointer;
}

.image-info-container .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}

.image-info-container .content-wrapper img {
  width: 100%;
}

/* toggle */
#toggleChk {
  border: none;
  cursor: pointer;
}

/* theme */
.theme-container {
  float: left;
  line-height: 75px;
}

/* random-btn */
.btn-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0 2rem;
}

/* next-btn */
.next-button {
  width: 50px;
  height: 50px;
  background-color: seagreen;
  cursor: pointer;
}

.btn-container .random-button {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: dodgerblue;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
}

.btn-container .random-button:hover {
  background-color: rgb(6, 118, 230)
}

.search-history-container {
  width: 100%;
}

.search-history-container .title {
  font-size: 20px;
}

.search-history-container ol {
  /* list-style: none; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
}

.search-history-container ol li button{
  background-color: #fff;
  text-decoration: underline;
  border: none;
  vertical-align: text-top;
  cursor: pointer;
}
/* empty */
.empty-container .empty {
  font-size: 30px;
  text-align: center;
  padding: 100px;
}

.empty-container .danger{
  color: crimson;
}

/* loading */
.loading-container {
  width: 100%;
  position: relative;
}

.loading-container .loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.loading-container .loading .loading-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 7px solid #fff;
  border-top-color: dodgerblue;
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/****************************** responsive ******************************/

@media (max-width: 992px) {
  .search-result-container {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .search-result-container {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  .image-info-container .content-wrapper {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .search-result-container {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}

/****************************** theme ******************************/

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: #222;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: white;
  }
}